HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Custom ###
db_dev.mv.db
db_dev.trace.db
db_dev.lock.db
